.grid-10x10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 400px;
  height: 400px;
  gap: 4px;
}

.cell {
  background: rgb(255, 30, 49);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

/* Task 2 - Interpolate button */
#interpolate {
  margin-top: 15px;
  padding: 10px 14px;
  background: #333;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

/* Task 3 - Visualize button */
#visualize {
  margin-top: 10px;
  padding: 10px 14px;
  background-color: #1f6f8b;
  color: white;
  font-size: 14px;
  cursor: pointer;
  width: fit-content;
}